{%extends 'main_base.html'%}
{%load i18n%}
{%load url from future%}

{%block title%}{%trans '新增采购退货单'%}{%endblock%}


{%block content%}
<div class="container-fluid">
	<div class="f-main">
		<div class="main-wrap-no-right">
			<form id="invoice_form" class="form-horizontal form-min-horizontal" method="post" action="">{%csrf_token%}		
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"><i class="icon-th-list"></i></span>
					<h5>{%trans '编辑采购退货单据'%}</h5>
					<div class="widget-title-option">
						<a href="{%url 'caigoutuihuo' org.uid%}" class="btn btn-primary">{%trans '返回单据列表'%}</a>
					</div>
				</div>
				<div class="widget-content">
						<div class="row-fluid">
			            	<div class="span3">
			                    <div class="control-group {%if form.invoice_code.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.invoice_code.auto_id}}">{%if form.invoice_code.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.invoice_code.label}}</label>
			                         <div class="controls">
			                            {{form.invoice_code}}
			                            <p class="help-block">{{form.invoice_code.help_text}}</p>
										<p class="help-block">{{form.invoice_code.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			                <div class="span3">
			                    <div class="control-group {%if form.voucher_code.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.voucher_code.auto_id}}">{%if form.voucher_code.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.voucher_code.label}}</label>
			                         <div class="controls">
			                            {{form.voucher_code}}
			                            <p class="help-block">{{form.voucher_code.help_text}}</p>
										<p class="help-block">{{form.voucher_code.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			                <div class="span3">
			                    <div class="control-group {%if form.event_date.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.event_date.auto_id}}">{%if form.event_date.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.event_date.label}}</label>
			                         <div class="controls">
			                            {{form.event_date}}
			                            <p class="help-block">{{form.event_date.help_text}}</p>
										<p class="help-block">{{form.event_date.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			                <div class="span3">
			                    <div class="control-group {%if form.user.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.user.auto_id}}">{%if form.user.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{%trans '退货人'%}</label>
			                         <div class="controls">
			                            {{form.user}}
			                            <p class="help-block">{{form.user.help_text}}</p>
										<p class="help-block">{{form.user.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			             </div>
			             <div class="row-fluid">
			             	<div class="span3">
			                    <div class="control-group {%if form.rels.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.rels.auto_id}}">{%if form.rels.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{%trans '供货商'%}</label>
			                         <div class="controls" style="position: relative;">
			                            {{form.rels}}&nbsp;<abbr title="{%trans '点击新增客户'%}"><i id="new_org_cus" class="icon-plus" style="position:absolute;top:7px;right:-20px;"></i></abbr>
			                            <p class="help-block">{{form.rels.help_text}}</p>
										<p class="help-block">{{form.rels.errors}}</p>
			                         </div> 
			                    </div>
			                </div>

			                <div class="span3">
			                    <div class="control-group {%if form.invoice_from.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.invoice_from.auto_id}}">{%if form.invoice_from.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{%trans '相关单据'%}</label>
			                         <div class="controls invoice_from_ctr" style="position: relative;">
			                            <input name="invoice_from" id="id_invoice_from" type="text" class="span12" value="{{invoice.invoice_from|default:""}}" />&nbsp;<abbr title="{%trans '点击查找采购单'%}"><i id="search_caigou" class="icon-plus" style="position:absolute;top:7px;right:-20px;"></i></abbr>
										<p class="help-block" id="invoice_from_error"></p>
			                         </div> 
			                    </div>
			                </div>

			                <div class="span3">
			                    <div class="control-group {%if form.warehouse_root.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.warehouse_root.auto_id}}">{%if form.warehouse_root.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.warehouse_root.label}}</label>
			                         <div class="controls">
			                            {{form.warehouse_root}}
			                            <p class="help-block">{{form.warehouse_root.help_text}}</p>
										<p class="help-block">{{form.warehouse_root.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			                <!-- <div class="span3">
			                    <div class="control-group {%if form.result.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.result.auto_id}}">{%if form.result.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.result.label}}</label>
			                         <div class="controls">
			                            {{form.result}}
			                            <p class="help-block">{{form.result.help_text}}</p>
										<p class="help-block">{{form.result.errors}}</p>
			                         </div> 
			                    </div>
			                </div>

			                <div class="span3">
			                    <div class="control-group {%if form.sstatus.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.sstatus.auto_id}}">{%if form.sstatus.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.sstatus.label}}</label>
			                         <div class="controls">
			                            {{form.sstatus}}
			                            <p class="help-block">{{form.sstatus.help_text}}</p>
										<p class="help-block">{{form.sstatus.errors}}</p>
			                         </div> 
			                    </div>
			                </div> -->


			                <div class="span3">
			             	<div class="control-group {%if form.sstatus.errors%}error{%endif%}">
			             		<label class="control-label" for="{{form.remark.auto_id}}">{%trans '退货原因'%}：</label>
			             		<div class="controls">
			                            {{form.remark}}
			                         </div>
			                         <p class="help-block">{{form.errors.remark}}</p> 
			             	</div>
			             </div>

			             </div>
			             
			         
			             <hr></hr>
			             
			             
			             
			            <table class="table no-margin">
			             	<thead><tr><th style="width: 35px;"></th><th style="width:35px;">{%trans '操作'%}</th><th id="good_name">{%trans '物品名称'%}</th><th style="width: 190px;text-align: right;">{%trans '物品编号'%}</th><th style="width: 85px;text-align: right;">{%trans '备注'%}</th><th style="width: 85px;text-align: right;">{%trans '数量'%}</th><th style="width: 35px;text-align: right;">{%trans '规格'%}</th><th style="width: 35px;text-align: right;">{%trans '单位'%}</th><th style="text-align: right">{%trans '单价'%}</th><th style="text-align: right">{%trans '销售金额'%}</th><th style="text-align: right">{%trans '审核前库存'%}</th><th style="text-align: right">{%trans '审核后库存'%}</th></tr></thead>
			             </table>
			             <div id="invocie-body" style="width:100%;overflow: visible"></div>

			             <div class="row-fluid">
			        <div class="widget-title" style="margin-top: 30px;">
					<span class="icon"><i class="icon-th-list"></i></span>
					<h5>{%trans '添加收款'%}</h5>
				    </div>
			            <table class="table" style="margin:0 20px;margin-top: 20px;width: 100%">
			             	<thead><tr><th>{% trans '序号' %}</th><th>{% trans '收款日期' %}</th><th>{% trans '结算账户' %}</th><th>{% trans '收款金额（请输入数字）' %}</th><th>{% trans '结算方式' %}</th><th>{% trans '备注' %}</th>
			             	</tr></thead>
			             	<tbody id="tbody" style="width: 100%;">
			             	<input type="hidden" name="pay_id" value="{{pay_details.0.invoice.id}}">
			             	{% for detail in pay_details %}
			             	<tr><td>000{{forloop.counter}}</td><td><input type="text" onClick=WdatePicker() name="date" value="{{detail.event_date|date:'Y-m-j'}}"></td><td><select name="account" id="account" value="{{detail.account.id}}">
			             	{% for account in accounts%}
			             	<option value="{{account.id}}" {% if detail.account.id == account.id %}selected="selected"{% endif %}>{{account.account_name}}</option>
			             	{% endfor %}
			             	</select></td><td><input type="text" name="pay" value="{{detail.pay}}" class="pay" /><div><span></span></div></td><td><input type="text" name="pay_type" value="{{detail.pay_type}}" /></td><td><input type="text" name="detail_remark" value="{{detail.remark}}" /></td></tr>
			             	{% endfor %}
			             	</tbody>
			             </table>
			             </div>
			         
			       	<div class="form-actions no-margin" style="padding-top: 20px;">
						<input type="button" id="xiaoshousubmit"  class="btn btn-primary" value="{%trans '确定'%}" {% if invoice.status == 2 %} style="display: none;"{% endif %} /><span style="color: red;margin-left: 30px;" id="error_msg">{{error_msg}}</span>
						{% if invoice.status == 2%}
						<img src="/static/images/icons/is_confirm.png" />
						{% endif %}
					</div>

			    </div>
			</div>
			
			
			</form>
			<input type="hidden" id="cellTotal" value="0" />
		</div>
			
	</div>

	
	<div class="f-left">
		<div class="left-wrap">
			{%include 'parts/main_left_nav.html'%}
		</div>
	</div>

	<!--div class="f-right">
		<div class="right-wrap">
			
		</div>
	</div-->
	
	<div id="goods_layer" class="xubox_layer hide" style="z-index:500;width:800px;height:500px;left:50%;top:50%;margin-left:-400px;margin-top:-250px; ">

	    <div class="xubox_main" style="background-color: #FFF;z-index: 500;width:800px;height: 500px;">
	        <div class="xubox_page">
	        	<iframe id="select_goods_frame" src="" width="800px" height="500px" scrolling="no" frameborder="0"></iframe>
	        </div>
	        <a class="xubox_close xulayer_png32 xubox_close0 xubox_close1 goods_layer_close" href="javascript:;"></a>
	        <span class="xubox_botton"></span>
	    </div>
    	<div class="" style="position: absolute;border-radius: 5px;z-index: 49; background-color: #000; opacity: 0.3;filter:alpha(opacity=30);-moz-opacity:0.5; top: -2px; left: -2px; width: 804px; height: 504px;"></div>
		<div style="background-color: #666;width: 100%;height: 100%;left: 0px;top: 0px;opacity: 0.5;filter:alpha(opacity=50);-moz-opacity:0.5;z-index: 1;position: fixed !important;"></div>
	</div>
	
</div>
{%endblock%}

{%block rel%}
<link href="/static/js/handsontable/jquery.handsontable.full.css" rel="stylesheet">
{%endblock%}

{%block endrel%}
<style type="text/css">
.span3{
	transform:translateY(30%)
}
.container-fluid{
    overflow-X:hidden
}
</style>
<script language="JavaScript" src="/static/js/common/DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="/static/js/layer/layer.min.js"></script>
<script src="/static/js/handsontable/jquery.handsontable.full.js?v=20181109"></script>
<script src="/static/js/handsontable/customerh.js?v=20181109"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#li_caigoutuihuo').addClass('current');
	$('#tab-warehouse').addClass('active');

	$("#xiaoshousubmit").click(function(){
		alert("{% trans '单据已提交，请等待处理勿重复提交,若单据有红色部分请先修复后再次提交' %}")
	})

	$("#account").children("option[value="+ parseInt($("#account").attr("value")) +"]").attr("selected","selected")
	
	$goods_layer=$('#goods_layer');
	NEW_SRC="{%url 'add_goods' org.pk%}?callback=1";
	SALE=true;

	$("#good_name").css("width",parseInt($(".widget-content").css("width"))-980)

	//$(".sale_type_ctr").css("width",parseInt($("#id_sale_type").css("width")))

    //验证填写数字信息
    $("#tbody").on("change",".pay",function(){
		var pay = $(this).val();
		var reg = new RegExp(/^[0-9]+([.]{1}[0-9]{1,2})?$/);
		var total_pay = Number($(".htNumeric:eq(-2)").text().substring(1).replace(',','.'))

		if(!reg.test(pay) || parseInt(pay)>total_pay){
             $("#xiaoshousubmit").addClass("disabled")
             $("#xiaoshousubmit").attr("disabled","disabled")
             $(this).css("border","1px solid red")
             if(pay==''){
                $(this).siblings("div").children("span").text("{% trans '金额不能为空' %}")
             }else if(Number(pay)>total_pay){
             	$(this).siblings("div").children("span").text("{% trans '金额大于应付金额' %}")
             }else{
             	$(this).siblings("div").children("span").text("{% trans '请输入数字' %}")
             }
             
             $(this).siblings("div").children("span").css("color","red")
		}else{
			$("#xiaoshousubmit").removeClass("disabled")
			$("#xiaoshousubmit").removeAttr("disabled")
			$(this).css("border","1px solid #ccc")
			$(this).siblings("div").children("span").text("")
			$("#error_msg").text("")
		}

	})

	var datas={{datas|safe|default:'[]'}};
	for(var i=0;i<datas.length;i++){
		datas[i].splice(1,0,'');
	}


	//超过6个就做处理，否则显示不出来
	var extraData = []
	while(datas.length>5){
		var item = datas.pop()
		extraData.push(item)
	}
	extraData.reverse()

	var columns=[
		 			{data:0,renderer: hiddenRenderer},
		 			{data:1,renderer:safeHtmlRenderer,readOnly:'true'},
					{data:2,renderer:'autocompletefind',editor:'autocompletefind',type:'autocomplete',layer_id:'goods_layer',
						source: function(query,process){
							//var items=$.grep(goods_json,function(n,i){return (n.code.indexOf(query)>-1)||(n.abbreviation.indexOf(query)>-1)||(n.name.indexOf(query)>-1)})
							var query=query.toUpperCase().trim();
							process($.map(goods_json,function(n){return ((n.code.indexOf(query)>-1)||(n.abbreviation.indexOf(query)>-1)||(n.name.indexOf(query)>-1))?n.name:null}));
						}
					},
					{data:3},
					{data:4},
					
					{data:5,type:'numeric',format:'0.00'},
					{data:6},
					{data:7,editor:'saleunitselect',selectOptions:[]},
					{data:8,renderer: hiddenRenderer},
					{data:9,type:'numeric',format:'0.00'},
					{data:10,type:'numeric',validator:/^[\d\.]*$/},
					{data:11,type:'numeric',validator:/^[\d\.]*$/},
					{data:12,type:'numeric',renderer:xiaoshouchukuTotalPriceRender,format: '$0.00',language: 'zh-cn'},
					{data:13,readOnly:'true',format:'0.00'},
					{data:14,renderer:restAmountRender,format:'0.00'}
				];

	$("#invocie-body").handsontable({
		data:datas,
		minRows: 6,
		minSpareRows: 1,
		//colHeaders: [null,"单位","单位备注"],
		rowHeaders: true,
		colWidths :[50,$('.widget-content').width()-950,200,100,100,50,50,50,1,1,100,100,100,100],
		columns:columns,
		contextMenu:{
			items:{
				'row_above':{name:"{%trans '上行插入行'%}"},
				'row_below':{name:"{%trans '下行插入行'%}"},
				'remove_row':{name:"{%trans '删除行'%}"},
			}
		},
		afterChange:function(changes,source){
			var total_pay = Number($(".htNumeric:eq(-2)").text().substring(1).replace(',','.'))
		    var pay = Number($(".pay").val())
		if(pay > total_pay){
		    $("#xiaoshousubmit").addClass("disabled")
		    $("#xiaoshousubmit").attr("disabled","disabled")
		    $("#error_msg").text("已付金额大于应付金额")
		}else{
		    $("#xiaoshousubmit").removeClass("disabled")
		    $("#xiaoshousubmit").removeAttr("disabled")
		    $("#error_msg").text("")
		    $(".pay").css("border","1px solid #ccc")
			$(".pay").siblings("div").children("span").text("")
		}
		},
		afterInit:function(){
			var rows = this.countRows()
			for(var i=0;i<rows-1;i++){
				this.setDataAtCell(i,1,"<img class='add' src='/static/images/icons/add2.png' style='width:10px;height:10px;margin-left:5px;cursor:pointer;' /><img src='/static/images/icons/delete2.png'  class='minus' style='width:9px;height:9px;margin-left:10px;margin-top:1px;cursor:pointer;' />")
            }

            for(var i=0;i<extraData.length;i++){
            	this.alter("insert_row")
            	this.setDataAtCell(this.countRows()-2,0,extraData[i][0])
            	this.setDataAtCell(this.countRows()-2,2,extraData[i][2])
            	this.setDataAtCell(this.countRows()-2,3,extraData[i][3])
            	this.setDataAtCell(this.countRows()-2,4,extraData[i][4])
            	this.setDataAtCell(this.countRows()-2,5,extraData[i][5])
            	this.setDataAtCell(this.countRows()-2,6,extraData[i][6])
            	this.setDataAtCell(this.countRows()-2,7,extraData[i][7])
            	this.setDataAtCell(this.countRows()-2,9,extraData[i][9])
            	this.setDataAtCell(this.countRows()-2,13,extraData[i][13])
            }

		},
		afterRender:function(){
			var that = this
			$(".add").on("click",function(){
				var rows = that.countRows()
        	    that.alter('insert_row',that.getSelected()[0]+1)
        	    that.setDataAtCell(that.getSelected()[0]+1,1,"<img class='add' src='/static/images/icons/add2.png' style='width:10px;height:10px;margin-left:5px;cursor:pointer;' /><img src='/static/images/icons/delete2.png'  class='minus' style='width:9px;height:9px;margin-left:10px;margin-top:1px;cursor:pointer;' />")
			})
			$(".minus").on("click",function(){  	
        	    that.alter('remove_row',that.getSelected()[0])
        	    var rows = that.countRows()
        	    if(rows == 6){
        	    	that.setDataAtCell(4,1,"<img class='add' src='/static/images/icons/add2.png' style='width:10px;height:10px;margin-left:5px;cursor:pointer;' /><img src='/static/images/icons/delete2.png'  class='minus' style='width:9px;height:9px;margin-left:10px;margin-top:1px;cursor:pointer;' />")
        	    }
			})
		},
		afterCreateRow:function(){
			var rows = this.countRows()
			if(rows > 6){
				this.setDataAtCell(rows-2,1,"<img class='add' src='/static/images/icons/add2.png' style='width:10px;height:10px;margin-left:5px;cursor:pointer;' /><img src='/static/images/icons/delete2.png'  class='minus' style='width:9px;height:9px;margin-left:10px;margin-top:1px;cursor:pointer;' />")
			}
		}
	});

	$container = $("#invocie-body").handsontable('getInstance');

	$('#{{form.warehouse_root.auto_id}}').change(function(){
		location.href="?warehouse_id="+$(this).val();
	});
	
	if(getParameterByName('warehouse_id')){
		$('#{{form.warehouse_root.auto_id}}').val(getParameterByName('warehouse_id'))
	}
	$('#select_goods_frame').attr('src',"{%url 'select_goods_use' org.pk%}?warehouse_id="+$('#{{form.warehouse_root.auto_id}}').val());
});
function getParameterByName(name) {  
    var match = RegExp('[?&]' + name + '=([^&]*)')  
                    .exec(window.location.search);  
    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));  
} 
$(window).load(function(){
	$('#new_org_cus').click(function(){
		$.layer({
			type:2,
			title:"{%trans '添加新客户'%}",
			iframe:{src:"{%url 'add_customer' org.uid%}?parent_id={{form.rels.auto_id}}"},
			area:["900px","550px"],
			offset : ['50px','']
		});
	});

	$("#search_caigou").click(function(){
		$.layer({
			type:2,
			title:"{%trans '查找相关采购单据'%}",
			iframe:{src:"{%url 'select_invoices_use' org.uid%}?parent_id={{form.rels.auto_id}}"},
			area:["900px","550px"],
			offset : ['50px','']
		});
	})

	//点击提交
	$("#xiaoshousubmit").click(function(){
		if($(this).attr("disabled") == "disabled"){
			return false
		}
            //block_form();
		/*$('#xiaoshousubmit').attr('disabled',true);
		if($('#invocie-body .htInvalid').size()){
			layer.msg(gettext("请先修正单据中红色提示部分再保存"), 3, {type:2,shade:false});
			$('#xiaoshousubmit').attr('disabled',false);
			return false;
		} */
		curdata=$container.getData();
		for(var i=0;i<curdata.length;i++){
				curdata[i].splice(1,1,null);
				curdata[i][2] = escape(curdata[i][2])
		}

		submit_id=layer.load(gettext("正在提交单据数据，请稍候..."));
		//console.log($("#invoice_form").serialize()+'&data='+JSON.stringify(curdata))
		//return false
		$.ajax({
			data:$("#invoice_form").serialize()+'&data='+JSON.stringify(curdata),
			dataType: 'json',
		    type: 'POST',
		    success:function(res){
		    	$('#submit').attr('disabled',false);
		    	layer.close(submit_id);
		    	if(res.action=="stay"){
		    		layer.msg(gettext("保存单据成功，您可以继续编辑"), 3, {type:1,shade:false});
		    	}else{
		    		location.href=res.url;
		    		
			    }
		   	},
		   	error:function(resp){
		   		$('#submit').attr('disabled',false);
		   		layer.close(submit_id);
		   		var errors=eval("("+resp.responseText+")");
		   		if(errors.error){
		   			alert(errors.error);
		   		}
		   		for(var k in errors){
		   			if(errors[k] instanceof Array){
		   				for(var i=0;i<errors[k].length;i++){
			   				for(var j=0;j<errors[k][i].length;j++){
			   					$container.setCellMeta(i,errors[k][i][j],'valid',false);
				   			}
		   				}
		   				var rows = $container.countRows()
			            for(var i=0;i<rows-1;i++){
				        $container.setDataAtCell(i,1,"<img class='add' src='/static/images/icons/add2.png' style='width:10px;height:10px;margin-left:5px;cursor:pointer;' /><img src='/static/images/icons/delete2.png'  class='minus' style='width:9px;height:9px;margin-left:10px;margin-top:1px;cursor:pointer;' />")
            }
		   				$container.render();
			   		}else{
			   			for(error in errors[k]){
			   				if($('#id_'+error).size()){
								$('#id_'+error).addClass('form_error');
								if(error=="invoice_from"){
									$("#invoice_from_error").text("{% trans '该单据不存在' %}")
								}
							}else{
								$('body').append(error+"<br/>");
							}
				   		}
				   	}
			   	}
			}
		});
	})
	//加载离线物品数据，goods_json
	load_id=layer.load("{%trans '加载离线物品数据，请稍候...'%}");
	$.getScript("{%url 'get_goods_json' org.pk%}?use=1&warehouse_id="+$('#{{form.warehouse_root.auto_id}}').val(),function(){
		layer.close(load_id);
	});
	var resizeTimer;
	window.onresize = function(){
	    if (resizeTimer){
	        clearTimeout(resizeTimer);
	    }
	    $("#good_name").css("width",parseInt($(".widget-content").css("width"))-980)

	    resizeTimer = setTimeout(function(){
	    	$container.updateSettings({'colWidths':[50,$('.widget-content').width()-950,200,100,100,50,50,50,1,1,100,100,100,100]});
	        }, 100);
	};
});

function updateRow(cur_row,change_value,batch_code){
	if(!change_value){
		change_value=$container.getDataAtCell(cur_row,1);
	}

	var items=$.grep(goods_json,function(n,i){return n.name===change_value||n.code===change_value});
	if(!items.length){
		return;
	}
	
	var item=items[0];
	$container.setDataAtCell(cur_row,0,item.pk);
	$container.setDataAtCell(cur_row,2,item.name);
	$container.setDataAtCell(cur_row,3,item.code);
	$container.setDataAtCell(cur_row,4,item.remark);
	$container.setDataAtCell(cur_row,5,1);
	$container.setDataAtCell(cur_row,6,item.standard);
	$container.setDataAtCell(cur_row,9,item.sale_price_ori);
	$container.setDataAtCell(cur_row,13,item.nums);

	
	 if(item.unit){
		var units=[item.unit];
		$container.setDataAtCell(cur_row,7,item.unit);
		if(item.auxiliary_unit){
			for(var k=0;k<item.auxiliary_unit.length;k++){
				units.push(item.auxiliary_unit[k].unit);
			}
		}
		$container.setCellMeta(cur_row,7,'selectOptions',units);

	}else{
		$container.setDataAtCell(cur_row,7,'');
		$container.setCellMeta(cur_row,7,'selectOptions',[]);
	} 

	/* if(item.is_batchs){
		
		if(batch_code){
			var batches=$.grep(item.batches,function(n){return n.batch_code==batch_code});
			$container.setDataAtCell(cur_row,2,batches?batches[0].batch_code:'');
			$container.setDataAtCell(cur_row,4,batches?batches[0].unit1__unit:'');
			
			if(!(batches?(batches[0].unit1__unit||''):'')){
				$container.setDataAtCell(cur_row,5,batches?item.sale_price:'');
			}else{
				var units=$.map(item.auxiliary_unit,function(n){return (n.unit==batches[0].unit1__unit)?n:null});
				if(units.length){
					$container.setDataAtCell(cur_row,5,units[0].sale_price||'');
				}else{
					$container.setDataAtCell(cur_row,5,item.sale_price||'');
				}
			}
			
			
		}else{
			var batch=item.batches.length?item.batches[0]:null;
			$container.setDataAtCell(cur_row,2,batch?batch.batch_code:'');
			$container.setDataAtCell(cur_row,4,batch?batch.unit1__unit:'');
			if(!(batch?(batch.unit1__unit||''):'')){
				$container.setDataAtCell(cur_row,5,batch?item.sale_price:'');
			}else{
				var units=$.map(item.auxiliary_unit,function(n){return (n.unit==batch.unit1__unit)?n:null});
				console.log(units)
				if(units.length){
					$container.setDataAtCell(cur_row,5,units[0].price||'');
				}else{
					$container.setDataAtCell(cur_row,5,item.sale_price||'');
				}
			}
		}
	} */
}
</script>
{%endblock%}