{%load i18n%}
{%load url from future%}
{% load endless %}

{% paginate 20 invoices %}
{% get_pages %}
<table class="table table-hover ">
	<thead>
		<tr><th>{%trans '单据号'%}</th><th>{%trans '经办人'%}</th><th>{%trans '时间'%}</th><th>{%trans '源仓库'%}</th><th>{%trans '目标仓库'%}</th><th>{%trans '总价'%}</th><th>{%trans '单据状态'%}</th></tr>
	</thead>
	{%for invoice in invoices%}
		<tr><td><a class="layer" width="800px" height="600px" title="{%trans '查看'%}{{invoice.invoice_code}}{%trans '详情'%}" href="{{invoice.get_absolute_url}}">{{invoice.invoice_code}}</a></td><td>{{invoice.user}}</td><td>{{invoice.event_date|date:'Y-n-j'}}</td><td>{{invoice.warehouse_root}}</td><td>{{invoice.content_object}}</td><td>{{invoice.total_price|floatformat:'2'}}</td><td>{{invoice.get_status_display}}</td></tr>
	{%endfor%}
</table>

<div class="row-fluid">
	<div class="span12">
		<div class="pager">
			<div class="pull-left">
				{%trans '本页显示第'%}
				{{ pages.current_start_index }}-{{ pages.current_end_index }} {%trans '条，共'%}
				{{ pages.total_count }} {%trans '条记录'%}
			</div>
			<div class="pull-right">
				
				{% if pages.paginated %}
				{{ pages }} {%trans '当前第'%} {% show_current_number %} {%trans '页'%}
				{% endif %}
			</div>
		</div>
	</div>
</div>