{%load i18n%}
{%load url from future%}
{% load endless %}

{% paginate 15 invoices %}
{% get_pages %}
<table class="table">
	<thead>
		<tr data="head"><th>{%trans '单据号'%}</th><th>{%trans '单据状态'%}</th><th>{%trans '时间'%}</th><th>{%trans '领用部门'%}</th><th>{%trans '领用人'%}</th><th>{%trans '单据金额'%}</th><th>{%trans '成本'%}</th><th>{%trans '领用原因'%}</th><th>{%trans '制单人'%}</th><th>{%trans '审核人'%}</th></tr>
	</thead>
	{%for invoice in invoices%}
		<tr><td><span pk="{{invoice.id}}" status="{{invoice.status}}"></span>{% if operms.depot.lingyongchuku_modify %}<a href="{{invoice.get_modify_url}}">{{invoice.invoice_code}}</a>{% else %}<span>{{invoice.invoice_code}}</span>{% endif %}</td><td>{{invoice.get_status_display}}</td><td>{{invoice.event_date|date:'Y-n-j'}}</td><td>{{invoice.content_object}}</td><td>{{invoice.user}}</td><td>{{invoice.total_price|floatformat:'2'}}</td><td>{{invoice.sale_price|floatformat:'2'}}</td>
		 <td>{{invoice.remark|default:''}}</td>
		 <td>{{invoice.charger}}</td>
		 <td>{{invoice.confirm_user|default:''}}</td></tr>
		
	{%endfor%}
</table>

<div class="row-fluid">
	<div class="span12">
		<div class="pager">
			<div class="pull-left">
				{%trans '本页显示第'%}
				{{ pages.current_start_index }}-{{ pages.current_end_index }} {%trans '条，共'%}
				{{ pages.total_count }} {%trans '条记录'%}  {%trans '未审核单据'%} {{ unconfirmed_invoice }}{%trans '条'%} {%trans '共计未审核金额'%}{{unconfirmed_price.total_price__sum|default:0}}
			</div>
			<div class="pull-right">
				
				{% if pages.paginated %}
				{{ pages }} {%trans '当前第'%} {% show_current_number %} {%trans '页'%}
				{% endif %}
			</div>
		</div>
	</div>
</div>