{%extends 'inline_base.html'%}
{%load i18n%}
{%load url from future%}


{%block body%}
<div class="container no-margin">
	<form class="form-search form-horizontal form-min-horizontal" action="" style="margin-top: 20px;border-bottom: 1px solid #ddd;">
		<input type="hidden" name="standard" value="{{standard}}"/>
		<div class="row-fluid" >
			<div class="inline-span5">
					<label class="control-label" for="{{form.category.auto_id}}">{{form.category.label}}</label>
					<div class="controls">
						{{form.category}}
					</div>
			</div>
			<div class="inline-span5">
				<div class="control-group {%if form.keyword.errors%}error{%endif%}">
					<label class="control-label" for="{{form.keyword.auto_id}}">{{form.keyword.label}}</label>
					<div class="controls">
						{{form.keyword}}
					</div>
				</div>
			</div>
			<div class="inline-span2">
				<input type="hidden" name="warehouse_id" value="{{warehouse_id|default:''}}" />
		   		<button type="submit" class="btn btn-primary" style="margin-left:20px;"><i class="icon-search icon-white"></i> {%trans '搜索物品'%}</button>
		   	</div>
		</div>	
	
	</form>
	
	<div style="height: 370px;min-height: 370px;overflow-y:auto;">
		{%include page_template%}
	</div>
	
	<div style="text-align: center;">
		<input id="mult_select" type="button" class="btn btn-primary" value="{%trans '选择'%}" />
		<input id="close_frame" type="button" class="btn" value="{%trans '关闭'%}" />
	</div>
</div>
{%endblock%}

{%block endrel%}
<script src="/static/endless_pagination/js/endless-pagination.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#{{form.category.auto_id}},#{{form.keyword.auto_id}}').change(function(){
		$('.form-horizontal').submit();
	});
	$table=$('.table');

	$('#close_frame').click(function(){
		window.parent.jQuery('.goods_layer_close').click();
	});

	$table.find('.icon-ok').click(function(e){
		$tr=$(this).parent().parent();
		e.stopPropagation();
		window.parent.setNewGoodsByPK(parseInt($tr.attr('good_id')));
		window.parent.jQuery('.goods_layer_close').click();
	});

	$table.find('tr').click(function(e){
		$(this).toggleClass('info');
		if(!$(e.target).val()){
			$(this).find('input[type="checkbox"]').prop('checked',$(this).find('input[type="checkbox"]').prop('checked')?false:true);
			e.stopPropagation();
		}
	});

	$('#mult_select').click(function(){
		arr=[];
		$table.find('input[name="gcheck"]').each(function(){
			if(this.checked){
				arr.push($(this).val());
			}
		});
		$table.find('tr').removeClass('info').find("input[name='gcheck']").attr('checked',false);
		window.parent.setNewGoodsByPK.apply(this,arr);
	});
});
</script>
{%endblock%}