{%extends 'main_base.html'%}
{%load i18n%}
{%load url from future%}

{%block title%}{%trans '收款单'%}{%endblock%}
{%block content%}
<div class="container-fluid">
	<div class="f-main">
		<div class="main-wrap-no-right">
			<form class="form-horizontal form-min-horizontal" >	
			<div class="widget-box">
				<div class="widget-title">                    
					<div class="widget-title-option" >
					{% if operms.depot.shoukuandan_add %}
						<a href="{%url 'shoukuandan_add' org.uid%}" class="mainbtn"><img class="icon" src="/static/images/icons/add.png"><span class="word" >{%trans '新增'%}</span></a>
						{% endif %}
					{% if operms.depot.shoukuandan_modify %}
						<a href="#" class="mainbtn opacity" id="modify_btn" disabled="disabled"><img class="icon" src="/static/images/icons/modify.png"><span class="word">{%trans '修改'%}</span></a>
					{% endif %}
					{% if operms.depot.shoukuandan_delete %}
						<a href="#" class="mainbtn opacity" id="delete_btn" disabled="disabled" style="color: #DAA66C"><img src="/static/images/icons/delete.png" class="icon"><span class="word">{%trans '删除'%}</span></a>
					{% endif %}
					{% if operms.depot.shoukuandan_query %}
						<a class="mainbtn" data-toggle="modal" data-target="#query"><img class="icon" src="/static/images/icons/query.png"><span class="word" style="cursor: pointer;">{%trans '查询'%}</span></a>
					{% endif %}
					<!--
					{% if operms.depot.caigoushenqing_confirm %}
						<a href="#" class="mainbtn opacity" disabled="disabled" id="confirm" style="color: rgb(218,181,181)"><img class="icon" src="/static/images/icons/confirm.png"><span class="word">{%trans '审核'%}</span></a>
						<a href="#" class="mainbtn opacity" disabled="disabled" id="cancel_confirm" style="color: rgb(218,181,181)"><img class="icon" src="/static/images/icons/unconfirm.png"><span class="word">{%trans '取消审核'%}</span></a>
					{% endif %}
					-->
					{% if operms.depot.shoukuandan_print %}
						<a href="#" class="mainbtn opacity" id="print_btn" disabled="disabled"><img class="icon" src="/static/images/icons/print.png"><span class="word">{%trans '打印'%}</span></a>
					{% endif %}
					{% if operms.depot.shoukuandan_export %}
						<a href="/depot/export_pay_invoice/{{org.uid}}/3001/" class="mainbtn" style="color: #AF84B6"><img class="icon" src="/static/images/icons/export.png"><span class="word">{%trans '导出列表'%}</span></a>
						<a href="#" class="mainbtn opacity" id="export_detail" disabled="disabled" style="color: #AF84B6"><img class="icon" src="/static/images/icons/export.png"><span class="word">{%trans '导出详情'%}</span></a>
					{% endif %}
					
					</div>

				</div>

				
			</div>
				<!-- <div class="alert alert-success">
					{%trans '共有单据'%}{{invoices.count}}条
				</div>	-->			
				{%include page_template%}


			</form>
		</div>
	</div>
	
	<div class="f-left">
		<div class="left-wrap">
			{%include 'parts/main_left_nav.html'%}
		</div>
	</div>
	<!--div class="f-right">
		<div class="right-wrap">
			
		</div>
	</div-->
	<input id="invoice_id" name="invoice_id" style="display: none;" type="text" />
</div>

<!-- Modal -->
<div class="modal fade" style="display: none;" id="query" tabindex="-1" role="dialog" aria-labelledby="queryLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans '单据查询' %}</h4>
      </div>
      <form method="get" action="{% url 'shoukuandan_view' org.uid %}">
      <div class="modal-body">
      <div class="form-group">
      <label style="display: inline-block;">{% trans '起始时间：' %}</label><input id="startdate" type="text" name="startdate" onclick="WdatePicker()" />
      <label style="display: inline-block;margin-left: 30px;">{% trans '结束时间：' %}</label><input type="text" name="enddate" onclick="WdatePicker()">
      </div>
      <div class="form-group" style="margin-top: 20px;">
      <label style="display: inline-block;">{% trans '制单人：' %}</label><input type="text" name="charger">
      <label style="display: inline-block;margin-left: 30px;">{% trans '经办人：' %}</label><input type="text" name="user">
      </div>
      <div class="form-group" style="margin-top: 20px;">
       <label style="display: inline-block;">{% trans '单据号：' %}</label><input type="text" name="invoice_code" />
      <label style="display: inline-block;margin-left: 30px;">{% trans '单据状态：' %}</label><select name="result"><option value="">{% trans '全部' %}</option><option value="0">{% trans '未收完' %}</option><option value="1">{% trans '已收完' %}</option></select>
      </div>
      <div class="form-group" style="margin-top: 20px;">
		<label style="display: inline-block;">{% trans '备注：' %}</label><textarea name="remark"></textarea>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans '取消' %}</button>
        <button type="submit" class="btn btn-warning">{% trans '查询' %}</button>
      </div>
      </form>
    </div>
  </div>
</div>
<style type="text/css">
@media screen and (max-width: 1500px){
	.mainbtn{
		margin-right: 102px;
	}
}
@media screen and (min-width: 1500px) and (max-width: 1600px){
	.mainbtn{
	    margin-right: 124px;
	    text-decoration: none;
    }
}
@media screen and (min-width: 1610px){
	.mainbtn{
	    margin-right: 158px;
	    text-decoration: none;
    }
}
.mainbtn:hover{
	text-decoration: none;
}
.icon{
    width:17px;
    height: 17px;
    display: inline-block;
    vertical-align:middle;
}
.word{
    font-size: 12px;
    margin-left: 5px;
    vertical-align:middle;
    color:#5078BF;
}
.opacity{
	opacity: 0.3
}
.table a{
	color:rgb(67, 94, 153);
}
</style>
<script language="JavaScript" src="/static/js/common/DatePicker/WdatePicker.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function(){
	$(document).ready(function(){
	$('#li_shoukuandan').addClass('current');
	$('#tab-warehouse').addClass('active');
});

	$(".table").on("click","tr",function(){
		if($(this).attr("data") =="head"){
			return false
		}
	$(".table").find("tr").css("backgroundColor","white")
	$(this).css("backgroundColor","rgb(223,240,136)")
	$(".table").find("tr").attr("isclick",false)
	$(this).attr("isclick",true)

	$("#invoice_id").val($(this).find("span").attr("pk"))

	$("#modify_btn").attr("href","/depot/shoukuandan_modify/{{org.uid}}/"+$("#invoice_id").val() +"/")
	//$("#confirm").attr("href","/depot/confirm_invoice/{{org.uid}}/"+$("#invoice_id").val() + "/")
	$("#print_btn").attr("href","/depot/print_pay_invoice/{{org.uid}}/"+$("#invoice_id").val() + "/")
	//$("#cancel_confirm").attr("href","/depot/unconfirm_invoice/{{org.uid}}/"+$("#invoice_id").val() + "/")
	$("#delete_btn").attr("href","/depot/delete_pay_invoice/{{org.uid}}/"+$("#invoice_id").val() + "/")
	$("#export_detail").attr("href","/depot/export_pay_invoice_detail/{{org.uid}}/"+$("#invoice_id").val() + "/")


    var status = $(this).find("span").attr("status")


    $(".widget-title-option").find("a").removeAttr("disabled")
    $("#print_btn").removeClass("opacity")
    $("#export_detail").removeClass("opacity")


    if(status == "True"){
    	//$("#confirm").attr("disabled","disabled")
    	//$("#confirm").addClass("opacity")
    	//$("#cancel_confirm").removeAttr("disabled")
    	//$("#cancel_confirm").removeClass("opacity")
    	$("#modify_btn").attr("disabled","disabled")
    	$("#modify_btn").addClass("opacity")
    	$("#delete_btn").attr("disabled","disabled")
    	$("#delete_btn").addClass("opacity")
    }else{
    	$("#cancel_confirm").attr("disabled","disabled")
    	$("#cancel_confirm").addClass("opacity")
    	$("#confirm").removeAttr("disabled")
    	$("#confirm").removeClass("opacity")
    	$("#modify_btn").removeAttr("disabled")
    	$("#modify_btn").removeClass("opacity")
    	$("#delete_btn").removeAttr("disabled")
    	$("#delete_btn").removeClass("opacity")
    }
	})

	$(".table").on("mouseover","tr",function(){
		if($(this).attr("data") =="head"){
			return false
		}

		if($(this).attr("isclick") != "true"){
			$(this).css("backgroundColor","rgb(223,240,216)")
		}

	})

	$(".table").on("mouseout","tr",function(){
		if($(this).attr("data") =="head"){
			return false
		}

		if($(this).attr("isclick") != "true"){
			$(this).css("backgroundColor","white")
		}

	})

	$("#delete_btn").click(function(){
		if($(this).attr("disabled") == "disabled"){
			return false
		}
		if(!confirm("{% trans '是否删除单据' %}")){
			return false
		}
	})

	$(".widget-title-option").on("click","a",function(event){
		if($(this).attr("disabled") == "disabled"){
			event.preventDefault()
		}
	})
})
</script>
{%endblock%}