{%extends 'main_base.html'%}
{%load i18n%}
{%load url from future%}


{%block content%}
<div class="container-fluid">
	<div class="f-main">
		<div class="main-wrap-no-right">
			<form id="invoice_form" class="form-horizontal form-min-horizontal" method="post" action="">{%csrf_token%}		
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"><i class="icon-th-list"></i></span>
					<h5>{%trans '编辑退料入库单据'%}</h5>
					<div class="widget-title-option">
						<a href="" class="btn btn-primary">{%trans '新增退料入库单据'%}</a>
					</div>
				</div>
				<div class="widget-content">
						<div class="row-fluid">
			            	<div class="span3">
			                    <div class="control-group {%if form.invoice_code.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.invoice_code.auto_id}}">{%if form.invoice_code.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.invoice_code.label}}</label>
			                         <div class="controls">
			                            {{form.invoice_code}}
			                            <p class="help-block">{{form.invoice_code.help_text}}</p>
										<p class="help-block">{{form.invoice_code.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			                <div class="span3">
			                    <div class="control-group {%if form.voucher_code.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.voucher_code.auto_id}}">{%if form.voucher_code.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.voucher_code.label}}</label>
			                         <div class="controls">
			                            {{form.voucher_code}}
			                            <p class="help-block">{{form.voucher_code.help_text}}</p>
										<p class="help-block">{{form.voucher_code.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			                <div class="span3">
			                    <div class="control-group {%if form.event_date.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.event_date.auto_id}}">{%if form.event_date.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.event_date.label}}</label>
			                         <div class="controls">
			                            {{form.event_date}}
			                            <p class="help-block">{{form.event_date.help_text}}</p>
										<p class="help-block">{{form.event_date.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			                <div class="span3">
			                    <div class="control-group {%if form.user.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.user.auto_id}}">{%if form.user.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.user.label}}</label>
			                         <div class="controls">
			                            {{form.user}}
			                            <p class="help-block">{{form.user.help_text}}</p>
										<p class="help-block">{{form.user.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			             </div>
			             <div class="row-fluid">
			             	<div class="span3">
			                    <div class="control-group {%if form.rels.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.rels.auto_id}}">{%if form.rels.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.rels.label}}</label>
			                         <div class="controls">
			                            {{form.rels}}
			                            <p class="help-block">{{form.rels.help_text}}</p>
										<p class="help-block">{{form.rels.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			                <div class="span3">
			                    <div class="control-group {%if form.warehouse_root.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.warehouse_root.auto_id}}">{%if form.warehouse_root.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.warehouse_root.label}}</label>
			                         <div class="controls">
			                            {{form.warehouse_root}}
			                            <p class="help-block">{{form.warehouse_root.help_text}}</p>
										<p class="help-block">{{form.warehouse_root.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			                <div class="span3">
			                    <div class="control-group {%if form.result.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.result.auto_id}}">{%if form.result.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.result.label}}</label>
			                         <div class="controls">
			                            {{form.result}}
			                            <p class="help-block">{{form.result.help_text}}</p>
										<p class="help-block">{{form.result.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			                <div class="span3">
			                    <div class="control-group {%if form.sstatus.errors%}error{%endif%}">
			                        <label class="control-label" for="{{form.sstatus.auto_id}}">{%if form.sstatus.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.sstatus.label}}</label>
			                         <div class="controls">
			                            {{form.sstatus}}
			                            <p class="help-block">{{form.sstatus.help_text}}</p>
										<p class="help-block">{{form.sstatus.errors}}</p>
			                         </div> 
			                    </div>
			                </div>
			             </div>
			             
			             <hr></hr>
			             {{formset.management_form}}
			             <table id="ltable"  class="table table-condensed">
			            	<thead>
			            		<tr>
			            		<th>{%trans '物品名称'%}</th>
								
								<th class="hide" width="100px">{%trans '单价'%}</th>
								<th class="hide" width="100px">{%trans '金额'%}</th>
								<th width="170px">{%trans '数量&单位'%}</th>
								</tr>
							</thead>
							<tbody>
								{%for form in formset.forms%}
								<tr id="{{form.prefix}}-row" tag="{{form.prefix}}">
									<td>
									{{form.id}}{{form.good}}{{form.batch_rel}}
									{% if form.instance.pk %}{{ form.DELETE }}{% endif %} 
									{{form.good_text}}
									</td>
									
									<td class="hide">{{form.price}}</td>
									<td class="hide">{{form.total_price}}</td>
									<td>{{form.num1}}&nbsp;{{form.unit1}}</td>
								</tr>
								{%if form.errors%}
								<tr>
									<td>{{form.good.errors}}</td><td>{{form.warehouse.errors}}</td><td>{{form.shelf_life.errors}}</td>
									<td>{{form.shelf_life_type.errors}}</td><td>{{form.num1.errors}}</td><td>{{form.price.errors}}</td><td></td>
								</tr>
								{%endif%}
								{%endfor%}
								
								
							</tbody>
			             </table>
			             
			             
			        	<div class="row-fluid">
			            	<div class="span10">
			            		{{form.remark.label}}
			                    {{form.remark}}
			                </div>
			                <div class="span2">
			                	<label>{%trans '合计金额'%}</label>
			                	<p id="total_money" class="big-money">{{invoice.total_price|floatformat:'2'|default:'0.00'}}</p>
			                </div>
			          </div>
			         
			       	<div class="form-actions no-margin">
						<input type="submit"  class="btn btn-primary" value="{%trans '确定'%}"/>
						
						<input type="hidden" id="confirm" name="confirm" value="0" />
					</div>
			    </div>
			</div>
			
			
			</form>
			
		</div>
			
	</div>

	
	<div class="f-left">
		<div class="left-wrap">
			{%include 'parts/main_left_nav.html'%}
		</div>
	</div>

	<!--div class="f-right">
		<div class="right-wrap">
			
		</div>
	</div-->
	
	<div id="goods_layer" class="xubox_layer hide" style="z-index: 19891016; width: 600px; height: auto; top: 334px;margin-left:0" showtime="0" times="2" type="page">

	    <div class="xubox_main" style="background-color: #FFF; z-index: 19891016; height: 400px;">
	        <div class="xubox_page">
	        	<iframe id="select_goods_frame" width="600px" height="400px" frameborder="0"></iframe>
	        </div>
	        <a class="xubox_close xulayer_png32 xubox_close0 xubox_close1 goods_layer_close" href="javascript:;"></a>
	        <span class="xubox_botton"></span>
	    </div>
    	<div id="xubox_border2" class="xubox_border" style="z-index: 19891015; background-color: #000; opacity: 0.3;filter:alpha(opacity=30);-moz-opacity:0.5; top: -2px; left: -2px; width: 604px; height: 404px;"></div>

	</div>
	
</div>
{%endblock%}



{%block endrel%}
<script language="JavaScript" src="/static/js/common/DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="/static/js/jquery.formset.js" type="text/javascript"></script>
<script src="/static/js/common/jquery.form.js" type="text/javascript"></script>
<script src="/static/js/layer/layer.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#li_tuiliaoruku').addClass('current');
	var $lastSel = $("#{{form.warehouse_root.auto_id}} option:selected");
	$('#{{form.rels.auto_id}},#{{form.warehouse_root.auto_id}}').change(function(){
		
		if($('.good_rel[value][value!=""]').size()){
			$lastSel.prop("selected", true);
			alert("{%trans '请不要选择不同仓库的物品'%}");
		}else{
			$('#select_goods_frame').attr('src',"{%url 'select_goods_tuiku' org.pk%}?department_id="+$('#{{form.rels.auto_id}}').val()+'&warehouse_id='+$('#{{form.warehouse_root.auto_id}}').val());
	
			$.ajax({
				url:"{%url 'confirm_perm'%}?invoice_type=1002&warehouse_id="+$('#{{form.warehouse_root.auto_id}}').val(),
				success:function(status){
					if(status.confirm){$('#confirm').val(1);}else{$('#confirm').val(0);}
				}
			});
		}
	});

	$('#select_goods_frame').attr('src',"{%url 'select_goods_tuiku' org.pk%}?department_id="+$('#{{form.rels.auto_id}}').val()+'&warehouse_id='+$('#{{form.warehouse_root.auto_id}}').val());
	
	$.ajax({
		url:"{%url 'confirm_perm'%}?invoice_type=1002&warehouse_id="+$('#{{form.warehouse_root.auto_id}}').val(),
		success:function(status){
			if(status.confirm){$('#confirm').val(1);}else{$('#confirm').val(0);}
		}
	});
	
	$('#ltable tbody tr').formset({
		prefix: '{{formset.prefix}}',
		removed:function(row){
			row.find('.num').blur();
		}
	});
	$goods_layer=$('#goods_layer');
	$cur_tr=null;
	
	$('.goods_layer_close').click(function(){
		$goods_layer.hide();
	});

	$('#ltable').on('click','.good_text',function(){
		
		if($goods_layer.is(':visible')){
			$goods_layer.hide();
		}else{
			$cur_tr=$(this).parent().parent();
			var stop=$(this).parent().offset().top+5;
			var sleft=$(this).parent().offset().left+10;

			var max_stop=$(window).height()-405;
			$goods_layer.css({'top':(stop>max_stop)?max_stop:stop,'left':sleft}).show();
		}

	});

	$('#ltable').on('blur','.num,.price',function(){
		$price_tr=$(this).parent().parent();
		if(isNaN($(this).val())){
			alert("{%trans '请键入合法的数字'%}");
			return false;
		}else{
			price=$price_tr.find('.price').val();
			num=$price_tr.find('.num').val();
			max_num=$(this).attr('max_num');
			//if(max_num && parseFloat(num)>parseFloat(max_num)){
			//	alert("{%trans '数量不足,仅领用'%}"+max_num);
			//	$(this).val('').focus();
			//	return false;
			//}
			if(!isNaN(price) && !isNaN(num)){
				if(price*num){
					$price_tr.find('.good_total').val((price*num).toFixed(2));
				}else{
					$price_tr.find('.good_total').val('');
				}
			}
		}
		var price=0;
		$('#ltable .good_total').each(function(){
			if(!$(this).is(':visible'))
				return true;
			if($(this).val() && !isNaN($(this).val())){
				price+=parseFloat($(this).val());
			}
		});
		$('#total_money').text(price.toFixed(2));
	});

	//提交表单
	function block_form(){
        $('input','.form-horizontal').attr('disabled', 'disabled');
        $('.form_error').removeClass('form_error');
	}
	function unblock_form(){
		$('input','.form-horizontal').removeAttr('disabled');
	}
	$('#invoice_form').ajaxForm({
		beforeSubmit: function(form,options){
        	block_form();
    	},
		success:function(resp){
    		unblock_form();
			location.href=resp;
		},
		error:function(resp){
			unblock_form();
			var errors=eval("("+resp.responseText+")");
			if(errors.confirm_error){
				alert(errors.confirm_error);
			}
			for(k in errors){
				if(errors[k] instanceof Array){
					for(var i=0;i<errors[k].length;i++){
						for(error in errors[k][i]){
							//alert(error+ ":"+errors[k][i][error])
							$('#id_'+error).addClass('form_error');
						}
					}
				}else{
					for(error in errors[k]){
						//alert(error+ ":"+errors[k][error]);
						$('#id_'+error).addClass('form_error');
					}
				}
			}
		
		}
	});
});
</script>
{%endblock%}