{%extends 'main_base.html'%}
{%load i18n%}
{%load url from future%}
{% block content %}
<div class="container-fluid">
	<div class="f-main">

		<div class="main-wrap-no-right" style="min-height: 0">
		<div class="widget-box">
				<div class="widget-title">
					<span class="icon"><i class="icon-th-list"></i></span>
					<h5>{%trans '菜品利润查询'%}</h5>
				</div>
				<form action="{% url 'menu_item_analysis' org.uid %}" method="post">{% csrf_token %}
				<div class="widget-content">
				<div class="row-fluid">
		            	<div class="span span-inline">
		                    <div class="control-group">
		                        <label class="control-label" for="{{form.date_from.auto_id}}">{%if form.date_from.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.date_from.label}}</label>
		                         <div class="controls">
		                            {{form.date_from}}
		                            <p class="help-block">{{form.date_from.help_text}}</p>
									<p class="help-block">{{form.date_from.errors}}</p>
		                         </div> 
		                    </div>
		                </div>
		                <div class="span span-inline">
		                    <div class="control-group">
		                        <label class="control-label" for="{{form.date_to.auto_id}}">{%if form.date_to.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.date_to.label}}</label>
		                         <div class="controls">
		                            {{form.date_to}}
		                            <p class="help-block">{{form.date_to.help_text}}</p>
									<p class="help-block">{{form.date_to.errors}}</p>
		                         </div> 
		                    </div>
		                </div>

		                <div class="span span-inline">
		                    <div class="control-group">
		                        <label class="control-label" for="{{form.item_name.auto_id}}">{%if form.item_name.field.required%}<i class="icon icon-asterisk"></i>{%endif%}{{form.item_name.label}}</label>
		                         <div class="controls">
		                            {{form.item_name}}
		                            <p class="help-block">{{form.item_name.help_text}}</p>
									<p class="help-block">{{form.item_name.errors}}</p>
		                         </div> 
		                    </div>
		                </div>

		             </div>

		             <div class="form-actions no-margin">
						<input type="submit"  class="btn btn-primary" value="{%trans '确定'%}"/>
						<input type="reset" class="btn btn-warning" value="{%trans '重置'%}" />
					</div>
					</form>
				</div>


				
			</div>	
		</div>		
        

		<div class="main-wrap-no-right">
		<div class="alert alert-success">
					{%trans '共有菜品：'%} {{menus.count}}份,   {%trans '总价：'%}{{total_pri}},    {%trans '总成本：'%}{{total_cost}},    {%trans '总利润：' %}{{total_profit}},    {%trans '总利润率：'%}{{total_profit_rate}}
				</div>	
		<div class="widget-box">
				<div class="widget-title">
					<span class="icon"><i class="icon-th-list"></i></span>
					<h5>{%trans '菜品利润列表'%}</h5>
				</div>
				<div class="widget-content">
				{%include page_template%}
				</div>
				
			</div>	
		
		</div>

	</div>		




<div class="f-left">
		<div class="left-wrap">
			{%include 'parts/main_left_nav.html'%}
		</div>
</div>


</div>
<script language="JavaScript" src="/static/js/common/DatePicker/WdatePicker.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#li_caipin_fenxi').addClass('current');
	$('#tab-warehouse').addClass('active');
});
</script>
{% endblock %}