{%extends 'main_base.html'%}
{%load i18n%}
{%load url from future%}
{%block body%}
<h2 class="{{style}}" style="margin-top: 200px;margin-left: 350px;">{{message}}</h2>
<h4 style="margin-left: 370px;"><span class="text-warning" id="time">3</span>秒后关闭</h4>
<input type="button" class="btn btn-warning close-layer" value="{%trans '关闭'%}" style="margin-left: 380px;margin-top: 30px;" />	

<script type="text/javascript">
$(document).ready(function(){
	var index = parent.layer.getFrameIndex(window.name);
	$('.close-layer').click(function(){
		window.parent.location.reload()
		parent.layer.close(index);

		
	});

	function timer(){
		var time = parseInt($("#time").text())
		if(time == 0){
			window.parent.location.reload()
			//parent.layer.close(index);
		}else{
			time --
			$("#time").text(time)
		}
	}

	setInterval(timer,1000)

})
</script>
{% endblock %}