{%extends 'inline_base.html'%}
{%load i18n%}
{%load url from future%}


{%block body%}
<div class="container">
	<form class="form-horizontal form-min-horizontal clearfix" method="POST">{%csrf_token%}
		  <div class="control-group" style="margin-top:20px">
		    <label class="control-label" for="nums">{%trans '当前数量'%}</label>
		   	<div class="controls" style="margin-top:4px">{{goods.nums|floatformat:'2'}}{{goods.unit|default:''}}</div>
		  </div>
		  
		    <div class="control-group">
			    <label class="control-label" for="nums">{%trans '盘点数量'%}</label>
			    <div class="controls">
			      <input type="text" class="input-small" id="nums" name="nums" placeholder="{%trans '当前盘点的数量'%}">
			      <span id="help_text" class="help-inline"></span>
			    </div>
			  </div>
			  
			<div class="control-group">
			    <div class="controls">

			      <button type="submit" class="btn btn-primary">{%trans '确定'%}</button>
			    </div>
			  </div>
	</form>
	
</div>
{%endblock%}



{%block endrel%}

<script type="text/javascript">
$(document).ready(function(){
	{%if success%}
	top.location.href=top.location.href;
	{%endif%}
	$('.form-horizontal').submit(function(event){
		//event.preventDefault();
		if(!valid || !$('#nums').val()){
			alert("{%trans '请输入您的盘点数量'%}");
			$('#nums').focus();
			return false;
		}
	});
	
	var nums={{goods.nums|default:0}};
	var valid=false;
	$('#nums').keyup(function(){
		var pnums=parseFloat($('#nums').val());
		if(isNaN(pnums)){
			$('#help_text').text("{%trans '数据无法识别'%}");
			valid=false;
		}else{
			valid=true;
			if(pnums>nums){
				$('#help_text').text("{%trans '盘盈'%}"+(pnums-nums).toFixed(2)+"{{goods.unit|default:''}}");
			}else{
				$('#help_text').text("{%trans '盘亏'%}"+(nums-pnums).toFixed(2)+"{{goods.unit|default:''}}");
			}
		}
	});
})
</script>
{%endblock%}