{%extends 'main_base.html'%}
{%load i18n%}
{%load url from future%}
{%load extra_tags%}

{%block title%}{%trans '物品出入明细查询'%}{%endblock%}

{%block content%}
<div class="container-fluid">
	<div class="f-main">
		<div class="main-wrap-no-right">	
			<form method="GET" action="" class="form-horizontal form-min-horizontal" >	
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"><i class="icon-th-list"></i></span>
					<h5>{%trans '物品出入查询'%}</h5>
					<div class="widget-title-option">
						
					</div>
				</div>
				<div class="widget-content">
					<div class="row-fluid">
		            	<div class="span3">
		                    <div class="control-group">
		                        <label class="control-label" for="{{form.date_from.auto_id}}">{{form.date_from.label}}</label>
		                         <div class="controls">
		                            {{form.date_from}}
		                            <p class="help-block">{{form.date_from.help_text}}</p>
									<p class="help-block">{{form.date_from.errors}}</p>
		                         </div> 
		                    </div>
		                </div>
		                <div class="span3">
		                    <div class="control-group">
		                        <label class="control-label" for="{{form.date_to.auto_id}}">{{form.date_to.label}}</label>
		                         <div class="controls">
		                            {{form.date_to}}
		                            <p class="help-block">{{form.date_to.help_text}}</p>
									<p class="help-block">{{form.date_to.errors}}</p>
		                         </div> 
		                    </div>
		                </div>
		                <div class="span3">
		                    <div class="control-group">
		                        <label class="control-label" for="{{form.goods_name.auto_id}}">{{form.goods_name.label}}</label>
		                         <div class="controls">
		                            {{form.goods_name}}{{form.goods_id}}
		                            <p class="help-block">{{form.goods_name.help_text}}</p>
									<p class="help-block">{{form.goods_name.errors}}</p>
		                         </div> 
		                    </div>
		                </div>
		        	</div>
		        	<div class="row-fluid">
		        		<div class="span span-inline">
		                    <div class="control-group {%if form.inout.errors%}error{%endif%}">
		                        <label class="control-label" for="{{form.inout.auto_id}}">{{form.inout.label}}</label>
		                         <div class="controls">
		                            {{form.inout}}
		                            <p class="help-block">{{form.inout.help_text}}</p>
									<p class="help-block">{{form.inout.errors}}</p>
									<label for="id_inout_all" style="padding-left: 5px;"><input  class="inline"  id="id_inout_all" type="checkbox" tag='showall' >{%trans '全部'%}</label>
		                         </div> 
		                    </div>
		                </div>
		        	</div>
		        	
		        	<div class="form-actions no-margin">
						<input type="submit"  class="btn btn-primary" value="{%trans '确定'%}"/>
						<input type="reset" class="btn btn-warning" value="{%trans '重置'%}" />
					</div>
					
					
				</div>
			</div>
			
			{%if post%}
			<div class="alert alert-success">
				<div class="pull-right"><a href="javascript:void(0)" onclick="javascript:location.href=location.href+'&exportExcel=1'">{%trans '导出为Excel'%}</a></div>
				{%trans '物品'%}{{goods}}{%trans '当前库存数量为'%}{{goods.nums}}{{goods.unit|default:''}}
				{%if from_snap.exists%}
				,{{from_snap.0.snap_date|date:'Y-m-d'}}{%trans '库存数量为'%}{{from_snap.0.nums}}{{goods.unit|default:''}}
				{%endif%}
				{%if to_snap.exists%}
				 ,{{to_snap.0.snap_date|date:'Y-m-d'}}{%trans '库存数量为'%}{{to_snap.0.nums}}{{goods.unit|default:''}}
				{%endif%}
			</div>
			
			{%include page_template%}
			
			{%endif%}
			</form>
		</div>
	</div>
	
	<div class="f-left">
		<div class="left-wrap">
			{%include 'parts/tongji_left_nav.html'%}
		</div>
	</div>

	<!--div class="f-right">
		<div class="right-wrap">
			
		</div>
	</div-->
</div>
{%endblock%}

{%block endrel%}
<script language="JavaScript" src="/static/js/common/DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="/static/js/layer/layer.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#li_search_goods_detail').addClass('current');
	$('#tab-tongji').addClass('active');
	{%if not post%}
	//$('input[type="checkbox"]').prop('checked',true);
	{%endif%}

	$('#{{form.goods_name.auto_id}}').typeahead({
		name: 'twitter-oss',
		remote: "?keyword=%QUERY",
		template: [
			'<p class="repo-language">{%trans "分类"%}:\{\{category\}\}</p>',
			'<p class="repo-name">{%trans "名称"%}:\{\{name\}\}</p>',
		].join(''),
		valueKey:'name',
		engine: Hogan 
	}).on('typeahead:selected',function(event,selection){
		var e = jQuery.Event("keydown");   
		$('#{{form.goods_id.auto_id}}').val(selection.id);
	});
	
	$('#id_inout_all').click(function(){
		var ischeck=$(this).prop('checked');
		$('.body-main').find("input[type='checkbox']").each(function(){
			if($(this).attr('tag') != 'showall')
			{
				$(this).prop('checked',ischeck);
			}
			
		});
	});
});
</script>
{%endblock%}

{%block rel%}
<style>
.repo-language {
    font-style: normal;
    font-size:14px;
}
</style>
{%endblock%}